.hero-img {
  margin-top: 5rem;
  width: 80vw;
}

.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-container input {
  margin-left: 3.3rem;
  margin-bottom: 5rem;
}

.loading-container {
  margin-top: 40vh;
}

.error-msg {
  padding: 0 3rem;
  text-align: center;
  color: #cc3300;
  font-family: "Poppins";
}
