.logo-container,
.nav-container {
  display: flex;
}

.logo-container {
  flex-grow: 2;
  align-items: flex-end;
}

.image-container {
  flex-grow: 1;
}

.nav-container {
  flex-grow: 3;
  flex-direction: column;
}

.image-container .hero-img {
  margin-top: 0;
}
