.result-container {
  margin: 1rem 2rem;
}

.result {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-left: auto;
}

.result-question {
  margin-bottom: 1rem;
  line-height: 1.3rem;
  font-family: "Poppins";
}

.button-container {
  margin-top: 0.5rem;
  text-align: center;
  grid-column-start: 3;
}

.button-container button {
  font-family: "Poppins";
}

#answerbox{
  border-radius: 5px;
  padding: 1em;
  border: 2px solid;
  border-color: #454545;
  font-size: 16px;
}


#answerbox:focus{
  cursor: text;
  outline: none;
  border:2px solid;
}