@import "normalize.css";
@import "typeface-poppins";
@import "@fontsource/playfair-display";

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
}

input,
a,
button {
  font-family: "Poppins";
}

.no-text-dec {
  text-decoration: none;
}
